The total staking amount is: {{ total_amount }}
<br>
<br>
<br>
{% if stake_holders %}
<table>
    <thead>
    <tr>
        <th style="width: 60px;">Rank</th>
        <th style="width: 180px;">Address</th>
        <th>Total Amount (MASS)</th>
        <th>Transactions</th>
    </tr>
    </thead>
    <tbody>
    {% for holder in stake_holders %}
    <tr>
        <td>{{ holder.rank }}</td>
        <td>{{ holder.address }}</td>
        <td>{{ holder.total }}</td>
        <td>
            {% if stake_holders %}
            <table>
                <thead>
                <tr>
                    <th style="width: 80px;">Total</th>
                    <th style="width: 280px;" align="middle">Locking Time</th>
                    <th style="width: 280px;">Unlocking Time</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in holder.transactions %}
                <tr>
                    <td>{{ transaction.total}}</td>
                    <td height="30">{% if stake_holders %} {{ transaction.locking_time}} {% endif %}</td>
                    <td height="30">{{ transaction.unlocking_time}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endif %}