The total staking amount is: {{ total_amount }}
<br>
<br>
<table>
    <thead>
    <tr>
        <th style="width: 180px;">Address</th>
        <th style="width: 100px;">Current Rank</th>
        <th style="width: 200px;">Change from yesterday</th>
        <th>Total Amount (MASS)</th>
        <th>Amount change</th>
    </tr>
    </thead>
    <tbody>
    {% for holder in stake_holders %}
    <tr>
        <td>{{ holder.address }}</td>
        <td>{{ holder.current_rank }}</td>
        <td>{{ holder.rank_change }}</td>
        <td>{{ holder.current_total_amount }}</td>
        <td>{{ holder.amount_change }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<br>
<br>
<br>
<table>
    <thead>
    <tr>
        <th style="width: 280px;" align="middle">Unlocking Time</th>
        <th style="width: 80px;" align="middle">Total</th>
    </tr>
    </thead>
    <tbody>
    {% for tx in sum %}
    <tr>
        <td align="middle">{{ tx.date }}</td>
        <td align="middle">{{ tx.value }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br>

{% if transactions %}
<table>
    <thead>
    <tr>
        <th style="width: 80px;">Address</th>
        <th style="width: 80px;">Total</th>
        <th style="width: 280px;" align="middle">Locking Time</th>
        <th style="width: 280px;">Unlocking Time</th>
    </tr>
    </thead>
    <tbody>
    {% for transaction in transactions %}
    <tr>
        <td>{{ transaction.holder_address }}</td>
        <td>{{ transaction.total }}</td>
        <td height="30">{{ transaction.locking_time }}</td>
        <td height="30">{{ transaction.unlocking_time }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}